<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Keeper</title>
</head>

<body>
    <h1>ToDo Keeper</h1>
    <% for(let List of allLists){ %>
        <div style="border: 1px solid black;">
            <h4>
                <%= List.title %>
            </h4>
            <form action="/home/<%= List._id %>?_method=DELETE" method="POST">
                <button>DELETE LIST</button>
            </form>

            <div>
                <% for(let item of List.items) { %>
                    <div style="border: 1px solid black;">
                        <form action="/completed/<%= item._id %>?_method=PUT" method="POST">
                            <input type="checkbox" <%=item.completed==true?'checked':'' %>
                            onChange=this.form.submit() >
                        </form>
                        <%= item.task %>
                            <form action="/home/<%= List._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                    </div>
                    <% } %>
            </div>
            <form action="/home/<%= List._id %>" method="POST">
                <label for="task">Task</label>
                <input id="task" type="text" name="task" placeholder="Add Item">
            </form>
        </div>
        <% } %>
            <form action="/home" method="POST">
                <label for="list-title">New List</label>
                <input id="list-title" type="text" name="title" placeholder="title">
            </form>
</body>

</html>